<html>
<head>
    <title>Home</title>
</head>
<body>
    <div>
        {{> header }}
        <p>
            {{ screemIt welcomeMessage }}
            <h4>Hello EGG how have you been?</h4>
            <h4>When is your midterm exam?</h4>
            
        </p>
    </div>
    {{> footer }}
</body>
</html>
