<html>
<head>
    <title>Home</title>
</head>
<body>
    <div>
        {{> header }}
        <p>
            {{ screemIt welcomeMessage }}
            <h4>Tashi Tobgay dakpa gonna fail!!!</h4>
            <h4>Bijuita is also gonna fail!!!!</h4>
        </p>
    </div>
    {{> footer }}
</body>
</html>
